<div class="container-fluid px-0">
  <div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center text-center list-cover" style="background-image: url(<%= cl_image_path @list.photo.key %>">
    <div class="landing-title shadow px-4 py-2">
      <h1 class="display-4"><%= @list.name %></h1>
    </div>
  </div>
  <h3 class="text-center mb-3">Movies</h3>
  <div class="row justify-content-center mx-3">
    <% @list.bookmarks.each do |bookmark| %>
      <% @movie = Movie.find(bookmark[:movie_id]) %>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-center shadow">
          <img src='<%= @movie.poster_url %>' alt="<%= @movie.title %>" class="card-img-top card-img-small">
          <div class="card-body">
            <h3 class='card-title'><%= @movie.title %></h3>
            <h4><%= @movie.rating %> <%= icon('fa', 'star', class: 'gold-star') %></h4>
            <p><%= @movie.overview %></p>
            <p><%= icon('fa', 'quote-left') %></p>
            <p><%= bookmark.comment %></p>
            <p><%= icon('fa', 'quote-right') %></p>
            <p class="text-center"><%= link_to 'remove from list', bookmark_path(bookmark), method: :delete, data: { confirm: "Whoa! Are you sure?"}, class: 'btn btn-outline-danger' %></p>
          </div>
        </div>
    </div>
      <% end %>
      </div>
      <div class="row justify-content-center my-5 mx-5">
      <div class="col-sm-12 col-md-6 border p-5 bg-dark text-white">
        <h3>Add a new movie to the list</h3>
        <%= simple_form_for [ @list, @bookmark ] do |f| %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <%= f.submit "Add movie", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
</div>
