<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @list.name %></h1>
      <h3>Movies</h3>
    </div>
  </div>
  <div class="row">
      <% @list.bookmarks.each do |bookmark| %>
      <% @movie = Movie.find(bookmark[:movie_id]) %>
      <div class="col-6">
        <div class="card">
          <img src='<%= @movie.poster_url %>' alt="<%= @movie.title %>" class="card-img-top">
          <div class="card-body">
            <h2 class='card-title'><%= @movie.title %></h2>
            <p><%= @movie.overview %></p>
            <p><%= @movie.rating %></p>
            <p><%= bookmark.comment %></p>
            <p><%= link_to 'remove from list', bookmark_path(bookmark), method: :delete, data: { confirm: "Whoa! Are you sure?"}, class: 'btn btn-outline-danger' %></p>
          </div>
        </div>
      </div>
    </div>
      <% end %>
      <div class="row">
      <div class="col">
        <h3>Add a new movie to the list</h3>
        <%= simple_form_for [ @list, @bookmark ] do |f| %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <%= f.submit "Add movie", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
</div>
